body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: larger;
}

#wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px black;
    padding: 10px;
    border-radius: 10px;
    background-color: azure;
    width: 50vw;

}

#content {
    background-color: cornsilk;
    padding: 8px;
    border: solid 1px black;
    margin-top: 10px;
    height: fit-content;
}

button {
    background-color: rgb(207, 215, 218);
    border: none;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    margin: 5px;
}

#number {
    position: relative;
    top: -0.2rem;
    left: 47vw;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
}

#control {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#btnNewQuote {
    flex-grow: 1;
}

.btnNavigation {
    flex-grow: 2;
}